<%page args="section_data" expression_filter="h"/>
<%
    import uuid

    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML
    from mock import patch
    from xmodule.html_module import HtmlDescriptor
    from xblock.field_data import DictFieldData
    from xblock.fields import ScopeIds
    from openedx.core.lib.url_utils import quote_slashes
    from openedx.core.lib.xblock_utils import wrap_xblock
%>
<h1>${_("Clusters")}</h1>
<h2 class="enrollment-title">${_("Keep an eye on your students’ progress")}</h2>
<span class="enrollment-title-text">${_("This report constantly divides your students’ progress in clusters: from low-"
    "performing to high-performing groups. You can take action right away - send appropriate email to clusters in coup"
    "le of clicks.")}</span>
<div id="cohort-plot">

</div>
<h2 class="enrollment-title">${_("Send Email")}</h2>
<span class="enrollment-title-text">${_("Choose clusters you want to send emails to, create email and send. Exactly tha"
    "t simple.")}</span>
<form id="cohort-form">
    <label>
        ${_("Subject: ")}
        <br/>
        <input type="text" id="email-subject" name="subject" maxlength="128" size="75">
        <span class="tip">${_("(Maximum 128 characters)")}</span>
    </label>
    <textarea id="email-body">

    </textarea>
    <!--# TODO: we need to put it locally-->
    <script src="/static/rg_instructor_analytics/plugins/jquery.richtext.min.js"></script>
    <link
        rel="stylesheet"
        href="/static/rg_instructor_analytics/plugins/richtext.min.css"
        type="text/css"
        media="screen"
        charset="utf-8"
    >

    <ul id="cohort-check-list"></ul>
    <button type="button" id="cohort-send-email-btn">${_("SEND EMAIL(S)")}</button>
</form>



