<%page args="section_data" expression_filter="h"/>
<%
    import uuid

    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML
    from mock import patch
    from xmodule.html_module import HtmlDescriptor
    from xblock.field_data import DictFieldData
    from xblock.fields import ScopeIds
    from openedx.core.lib.url_utils import quote_slashes
    from openedx.core.lib.xblock_utils import wrap_xblock
%>
<h1>${_("Cohort")}</h1>
<h2 class="enrollment-title">${_("Lorem ipsum dolor sit amet")}</h2>
<span class="enrollment-title-text">${_("Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ad perspiciatis culpa molestiae dolorem omnis quis maxime consequuntur. Ipsam, ratione.")}</span>
<div id="cohort-plot">

</div>
<h2 class="enrollment-title">${_("Lorem ipsum dolor sit amet")}</h2>
<span class="enrollment-title-text">${_("Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci ad perspiciatis culpa molestiae dolorem omnis quis maxime consequuntur. Ipsam, ratione.")}</span>
<form id="cohort-form">
    <label>
        ${_("Subject: ")}
        <br/>
        <input type="text" id="email-subject" name="subject" maxlength="128" size="75">
        <span class="tip">${_("(Maximum 128 characters)")}</span>
    </label>
    <textarea id="email-body">

    </textarea>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>

    <ul id="cohort-check-list">

    </ul>
    <button type="button" id="cohort-send-email-btn">Send mail</button>
</form>



