<%page args="section_data" expression_filter="h"/>
<%
    from django.utils.translation import ugettext as _
%>
<h1>${_("Enroll statistic")}</h1>

<button id="date-btn">Select period</button>
<div id="date_dropdown" class="dropdown-content"
     data-start=${section_data['enroll_start']} data-end=${section_data['enroll_end']}>
    <div>
        <label for=${_("from")}>From</label>
        <input type="text" id="from" name="from">
        <label for=${_("to")}>to</label>
        <input type="text" id="to" name="to">
    </div>
    <p>&nbsp;</p>
    <div>
        <button id="date-apply-btn">${_("Apply")}</button>
    </div>
</div>

<button id="select-1-week">Show for week</button>
<button id="select-2-week">Show for two week</button>
<button id="select-4-week">Show for month</button>

<div id="enrollment-stats-plot">

</div>
