<%page args="section_data" expression_filter="h"/>
<%
    from django.utils.translation import ugettext as _
%>
<h1>${_("Enroll statistic")}</h1>
<h2 class="enrollment-title">${_("This report shows the dynamics of the following metrics:")}</h2>
<ul>
    <li>Enrollments: Number of students that enrolled in the course</li>
    <li>Unenrollments: Number of students that unenrolled from the course</li>
    <li>Total: Total number of students that are currently passing the course</li>
</ul>
<span class="enrollment-title-text">You can choose the predefined periods of time to see the dynamics (Last Week, Last 2 Weeks, Last Month) or you can choose custom time period.</span>
<div class="enroll-buttons-holder">
    <button id="date-btn">Select period</button>
    <div id="date_dropdown" class="dropdown-content"
        data-start=${section_data['enroll_start']} data-end=${section_data['enroll_end']}>
        <div>
            <label for=${_("from")}>From</label>
            <input type="text" id="from" name="from">
            <label for=${_("to")}>to</label>
            <input type="text" id="to" name="to">
        </div>
        <p>&nbsp;</p>
        <div>
            <button id="date-apply-btn">${_("Apply")}</button>
        </div>
    </div>

    <button id="select-1-week">Last week</button>
    <button id="select-2-week">Last two week</button>
    <button id="select-4-week">Last month</button>
</div>

<div class="enrollment-legend-holder">
    <div class="enrollment-legend-item">Enrollments (Red)</div>
    <div class="enrollment-legend-item">Unenrollments (Green)</div>
    <div class="enrollment-legend-item">Total (blue)</div>
</div>
<div id="enrollment-stats-plot">

</div>
