<%page args="section_data" expression_filter="h"/>
<%
from django.utils.translation import ugettext as _
%>

<div class="analytics-section-title">
  <h1>${_("Progress Funnel")}</h1>
  <button class="btn export-funnel-to-csv">${_('Export to CSV')}</button>
</div>

<div class="tab-banner" hidden>
  <h2>${_("Course has not started yet.")}</h2>
</div>
<div class="tab-content">
  <h2 class="enrollment-title">
    ${_("This report shows which stages of your course prevent students from moving forward. ")}
  </h2>
  <span class="enrollment-title-text">
    ${_("By stages we mean the hierarchical parts of Open edX course:")}
  </span>
  <ul class="disc-list">
    <li class="enrollment-title-text">${_("Section")}</li>
    <li class="enrollment-title-text">${_("Subsection")}</li>
    <li class="enrollment-title-text">${_("Unit")}</li>
  </ul>
  <span class="enrollment-title-text">
    ${_("See how many students entered each stage, how many passed to another one and how many stuck.")}
    <br>
    ${_("Click on each stage to see the breakdown by available sub-stages.")}
  </span>

  <%include file="time-filter.html" args="active_tab='funnel'"/>

  <div class="content"></div>
</div>

<div class="course-dates-data" data-course-dates="${section_data['course_dates_info']}"></div>
