<%page args="section_data" expression_filter="h"/>
<%
from django.utils.translation import ugettext as _
%>

<h1>${_("Progress Funnel")}</h1>
<div class="tab-banner" hidden>
  <h2>${_("Course has not started yet.")}</h2>
</div>
<div class="tab-content">
  <h2 class="analytics-title">
    ${_("This report shows which stages of your course prevent students from moving forward. ")}
  </h2>
  <span class="analytics-title-text">
    ${_("By stages we mean the hierarchical parts of Open edX course:")}
  </span>
  <ul class="disc-list">
    <li class="analytics-title-text">${_("Section")}</li>
    <li class="analytics-title-text">${_("Subsection")}</li>
    <li class="analytics-title-text">${_("Unit")}</li>
  </ul>
  <span class="analytics-title-text">
    ${_("See how many students entered each stage, how many passed to another one and how many stuck.")}
    <br>
    ${_("Click on each stage to see the breakdown by available sub-stages.")}
  </span>

  <%include file="time-filter.html" args="active_tab='funnel'"/>

  <div class="content"></div>
  <hr/>
  <h2 class="analytics-title">${_("Send Email")}</h2>
    <span class="analytics-title-text">
        ${_("Choose section or subsection with a checkbox. Email will be sent to all the students who stuck there.")}
    </span>

    <form id="funnel-form-email">
        <label>
            ${_("Subject: ")}
            <br/>
            <input type="text" id="funnel-email-subject" name="funnel_subject" maxlength="128" size="75">
            <span class="tip">${_("(Maximum 128 characters)")}</span>
        </label>
        <textarea id="funnel-email-body"></textarea>

        <button type="button" class="funnel-send-email-btn" id="funnel-send-email-btn">${_("SEND EMAIL(S)")}</button>
        <div class="send-email-message error-message hidden">${_("Email(s) sending failed")}</div>
        <div class="send-email-message success-message hidden">${_("Message sent")}</div>
        <div class="send-email-message validation-error-message hidden">${_("Required fields")}</div>
    </form>
</div>

<div class="course-dates-data" data-course-dates="${section_data['course_dates_info']}"></div>
