<%page args="section_data" expression_filter="h"/>

<%
    from django.utils.translation import ugettext as _
%>

<h1>${_("Gradebook")}</h1>

<table class="student-table" style="float: left; width: 20%">
    <thead >
    <tr>
        <th>
            <form class="student-search">
                <input type="search" class="student-search-field" placeholder="${_('Search students')}"/>
            </form>
        </th>
    </tr>
    </thead>
    <tbody id="student_table_body">

    </tbody>
</table>

<div class="grades" style="position: relative;float: left;width: 30%;overflow-x: auto;overflow-y: hidden">
    <table class="grade-table">
        <thead id="gradebook_table_header"/>
        <tbody id="gradebook_table_body"/>
    </table>
</div>


<div style="position: relative;float: left;width: 50%;overflow-x: auto;overflow-y: hidden">
    <div id = "gradebook-stats-plot">

    </div>
</div>
