<%page args="section_data" expression_filter="h"/>

<%
    from django.utils.translation import ugettext as _
%>

<h1>${_("Gradebook")}</h1>

<span class="enrollment-title-text">${_("This reports gives an overview of all students’ progress in a simple spreadshe"
    "et form.")}</span>
<span class="enrollment-title-text">${_("You can take a look at a progress details of any student by clicking on corres"
    "ponding row of the spreadsheet.")}</span>
<span class="enrollment-title-text">${_("You can also search for some particular student in the spreadsheet by using “S"
    "earch Student…” field. You can search by first name, last name or email (non-case-sensitive).")}</span>
<div class="grades grade-table-wrapper" >
    <div class="grade-table">
        <div class="gradebook-table-row" id="gradebook_table_header"></div>
        <div id="gradebook_table_body">Loading ...</div>
    </div>
</div>


<div class="gradebook-plot">
    <h2 class="enrollment-title enrollment-title-1 hidden">${_("Progress Graph")}</h2>
    <span class="enrollment-title-text enrollment-title-text-1 hidden">${_("This graph shows the current progress detai"
        "ls for the student you’ve clicked on the spreadsheet above. It contains progress on each Homework (blue column"
        "s) and total current progress for the whole course (red column)")}</span>
    <div id = "gradebook-stats-plot"></div>
</div>
