## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/main.html" />
<%block name="bodyclass">view-instructor_analytics is-in-course course</%block>
<%block name="pagetitle">${_("Instructor Analytics")}</%block>
<%block name="headextra">
    <%static:css group='style-course'/>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- froala. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_style.min.css" rel="stylesheet" type="text/css" />
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='instructor_analytics'" />
<%
    from django.utils.translation import ugettext as _
%>


<div class="container">
    <div class="instructor-dashboard-wrapper-2">

        <main id="main" aria-label="Content" tabindex="-1">
            <section class="instructor-dashboard-content-2" id="instructor-analytics-dashboard-content">
                <ul class="instructor-nav">
                    <li class="nav-item">
                        <button type="button"
                                id="enrollment-stats-btn"
                                class="btn-link"
                                data-section="enrollment_stats">${_("Enrollment stats")}
                        </button>
                    </li>

                    <li class="nav-item">
                        <button type="button"
                                id="problems-btn"
                                class="btn-link problems"
                                data-section="problems">${_("Problems")}
                        </button>
                    </li>

                    <li class="nav-item">
                        <button type="button"
                                id="gradebook-btn"
                                class="btn-link"
                                data-section="gradebook">${_("Gradebook")}
                        </button>
                    </li>


                    <li class="nav-item">
                        <button type="button"
                                id="cohort-btn"
                                class="btn-link"
                                data-section="cohort">${_("Clusters")}
                        </button>
                    </li>


                    <li class="nav-item">
                        <button type="button"
                                id="funnel-btn"
                                class="btn-link"
                                data-section="cohort">${_("Progress Funnel")}
                        </button>
                    </li>
                </ul>

                <section id="section-enrollment-stats" class="idash-section">
                    <%include file="enrollment_stats.html" args="section_data=enroll_info" />
                </section>

                <section id="section-problem" class="idash-section">
                    <%include file="problems.html" args="section_data={course}" />
                </section>

                <section id="section-gradebook" class="idash-section">
                    <%include file="gradebook.html" args="section_data={course}" />
                </section>

                <section id="section-cohort" class="idash-section">
                    <%include file="cohort.html" args="section_data={'course':course}" />
                </section>

                <section id="section-funnel" class="idash-section">
                    <%include file="funnel.html" args="section_data={'course':course}" />
                </section>
            </section>
        </main>
    </div>
</div>
