<%page args="section_data" expression_filter="h"/>

<%
from django.utils.translation import ugettext as _
%>

<h1>${_("Problems")}</h1>
<div class="tab-banner" hidden>
  <h2 class="analytics-title">${_("Course has not started yet.")}</h2>
</div>
<div class="tab-content">
  ## MAIN section ##
  <h2 class="analytics-title">
    ${_("This report helps detect assessments that are most problematic for students.")}
  </h2>
  <ul class="disc-list">
    <li class="analytics-title-text">
      ${_("Blue columns represent average count of attempts for all assessments in a subsection.")}
    </li>
    <li class="analytics-title-text">
      ${_("Red columns represent average level of student’s success in a subsection (%)")}
    </li>
  </ul>

  <span class="analytics-title-text">
      ${_("Click on the area that represents a subsection (only subsections that contain "
      "graded assessments are displayed) to get more detailed information.")}
  </span>

  <%include file="time-filter.html" args="active_tab='problems'"/>

  <div class="js-legend-holder analytics-legend-holder analytics-legend-holder__square hidden">
    <div class="analytics-legend-item">Average attempts count</div>
    <div class="analytics-legend-item">Average success level, %</div>
  </div>

  <div id="problem-homeworks-stats-plot"></div>

  <div class="subsection-emails-list"></div>

  ## DETAILS section ##
  <div class="js-problem-details" hidden>
    <span class="analytics-title-text">
        ${_("This level of the report indexes units from assessments success perspective")}
    </span>
    <ul class="disc-list">
      <li class="analytics-title-text">
        ${_("Blue column = 100% if students gave correct answers with 1st attempt")}
      </li>
      <li class="analytics-title-text">
        ${_("Red column = 100% if students gave incorrect answers and used all the attempts")}
      </li>
    </ul>

    <span class="analytics-title-text">
      ${_("Click on the area that represents a unit to get detailed information.")}
    </span>
    <div class="analytics-legend-holder analytics-legend-holder__square">
      <div class="analytics-legend-item">${_("Correct Answers, %")}</div>
      <div class="analytics-legend-item">${_("Incorrect Answers, %")}</div>
    </div>
  </div>

  <div id="problems-stats-plot"></div>

  ## PROBLEM section ##
  <div class="problem-emails-list"></div>
  <div id="problem-body"></div>
</div>


