## mako
<%page args="active_tab" />

<%
from django.utils.translation import ugettext as _
%>
<div class="enroll-buttons-holder">
    <div class="filter-btn-holder">
        <button class="js-datepicker-btn date-btn filter-btn active">${_("Select period")}</button>
    </div>
    <div class="js-datepicker-dropdown dropdown-content">
        <div>
            <label for="${active_tab}-from">${_("From")}</label>
            <input type="text" id="${active_tab}-from" name="from" class="js-from-datepicker">
            <label for="${active_tab}-to">${_("To")}</label>
            <input type="text" id="${active_tab}-to" name="to" class="js-to-datepicker">
        </div>
        <div class="spacing"></div>
        <div>
            <button class="js-date-apply-btn">${_("Apply")}</button>
            <button class="js-date-cancel-btn">${_("Cancel")}</button>
        </div>
    </div>
    <div class="custom-select">
    <select class="js-select-time-interval filter-dropdown">
        <option class="js-select-1-week" value="lastweek">${_("Last Week")}</option>
        <option class="js-select-2-week" value="last2weeks">${_("Last 2 Weeks")}</option>
        <option class="js-select-4-week" value="lastmonth">${_("Last Month")}</option>
        <option class="js-select-all-week" value="sincecoursestart">${_("Since Course Start")}</option>
        % if active_tab=="enrollment":
        <option class="js-select-all-enroll" value="allenrollments">${_("All Enrollments")}</option>
        % endif
    </select>
    </div>
</div>

<div class="js-loader loader hidden">
  ${_("Loading")}
  <img src="/static/rg_instructor_analytics/images/ajax-loader.gif" alt="loader">
</div>
