.dropdown-content {
    padding: 24px;
    margin: 40px 12px 12px 0;
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.show {
    display: block;
}
/* The Modal (background) */
.modal-for-plot {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(176, 194, 202); /* Fallback color */
    background-color: rgba(176, 194, 202, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #ee4900;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.gradebook-table-row {
    display: table-row;
    font-size: 12px;
}
.name-table{
    float: left;
    width: 20%;
}
.grade-table-wrapper {
    position: relative;
    float: left;
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
}
.grade-table {
    width: 100%;
}
.gradebook-plot {
    position: relative;
    width: 100%;
    max-width: 880px;
    overflow: hidden;
    padding-top: 40px;
}
.gradebook-table-row {
    display: flex;
}
.gradebook-table-row.active .gradebook-table-cell {
    background: rgb(49,204,245);
    
}
.gradebook-table-cell {
    box-sizing: border-box;
    padding: 7px 5px;
    flex: 1 0 48px;
    background: #f1f1f1;
    margin: 0 1px 1px;
    text-align: center;
    text-transform: capitalize;
}
.gradebook-table-cell a {
    color: rgb(34,34,34);
    cursor: pointer;
    font-size: 12px;
    padding: 7px 5px;
    display: flex;
    align-items: center;
}
.student-search {
    padding: 7px 5px;
}
.gradebook-table-cell:first-child {
    flex: 0 0 250px;
    text-align: left;
    padding: 0;
    position: relative;
}
#gradebook_table_header .gradebook-table-cell {
    background: rgb(210,210,210);
}
#gradebook_table_body {
    max-height: 200px;
    overflow-y: auto;
    padding-top: 40px;
}
.funnel-item.active > .content {
    display: block;
}
.funnel-item > .content {
    display: none;
}
.idash-section ul {
    list-style: none;
    padding: 0;
}
.idash-section button:not(.btn-link) {
        background: none;
        border: 1px solid #0075b4;
        color: #0075b4;
        padding: 5px 10px;
        transition: 0.2s;
        box-shadow: none;
        text-shadow: none;
        border-radius: 0; 
}
.idash-section button:hover,
.idash-section button:focus {
    background: #0075b4 !important;
    color: #fff;
    transition: 0.2s;
    box-shadow: none !important;
    text-shadow: none !important;
}
.fr-placeholder {
    line-height: 1.3 !important;
}
.grade-table-wrapper {
    width: 100%;
}
.gradebook-plot {
    max-width: 100%;
}
.idash-section {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
}
.js-plotly-plot {
    width: 900px;
    transform: translate(-7%, -12%);
}
#date-btn {
    padding-right: 20px;
    position: relative;
}
#date-btn:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0,-50%);
    transition: 0.3s;
}
#date-btn.active:before {
    transform: translate(0,-50%) rotate(180deg);
    transition: 0.3s;
}

.instructor-dashboard-wrapper-2 .idash-section button {
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 14px;
}
.enroll-buttons-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.enrollment-legend-holder {
    max-width: 768px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}
.enrollment-legend-item {
    position: relative;
    padding-left: 40px;
}
.enrollment-legend-item:before {
    content: '';
    height: 2px;
    border-bottom: 4px solid #eccada;
    width: 28px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.enrollment-legend-item:first-child:before {
    background: #68b22c;
    border-bottom: 4px solid #d1e8bf;
}
.enrollment-legend-item:nth-child(2):before {
    background: #c14f84;
    border-color: #eccada;
}
.enrollment-legend-item:nth-child(3):before {
    background: #568ecc;
    border-bottom: none;
}
.enrollment-title,
.hd.hd-3.problem-header {
    font-size: 18px;
    color: #020202;
    margin-bottom: 16px;
}
.enrollment-title-text,
.problem p {
    font-size: 13px;
    color: #3f3f3f;
    margin-bottom: 16px;
    display: inline-block;
}
.dropdown-content.show {
    z-index: 2;
}

.hidden {
    display: none !important;
}
.modal-content .js-plotly-plot {
    transform: translate(0);
}
.funnel-item-1,
.funnel-item-2 {
    display: none;
}
.funnel-item-0 {
    display: flex;
    margin-bottom: 6px;
}
.funnel-item-1,
.funnel-item-2,
.funnel-item-0 {
    flex-direction: column;
    align-items: center;
}
.funnel-item-0.active .funnel-item-1 {
    display: flex;
}
.funnel-item-1.active .funnel-item-2 {
    display: flex;
}
.funnel-item-content {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    padding-right: 80px;
    display: flex;
    align-items: center;
}
.funnel-item-content:before {
    content: '\f107';
    font-family: "FontAwesome";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
}
.funnel-item-0 > .funnel-item-content {
    border-radius: 5px;
    background-color: #8392cb;
    width: 554px;
    min-height: 80px;
    color: #c5d1ff;
    margin-bottom: 3px;
    font-size: 14px;
    padding: 20px;
    display: block;
}
.funnel-item-0.active > .funnel-item-content,
.funnel-item-0:hover> .funnel-item-content {
    background-color: #6677b6;
    color: #e2e8ff;
    transition: 0.2s;
}
.funnel-item-1 > .funnel-item-content {
    border-radius: 5px;
    background-color: #95c891;
    width: 420px;
    min-height: 50px;
    color: #242424;
    margin-bottom: 3px;
    font-size: 12px;
    padding: 10px;
    text-align: left;
}
.funnel-item-1.active > .funnel-item-content,
.funnel-item-1:hover > .funnel-item-content {
    background-color: #73b76d;
    transition: 0.2s;
}
.funnel-item-2 > .funnel-item-content {
    border-radius: 5px;
    background-color: rgb(117, 203, 197);
    width: 361px;
    min-height: 30px;
    color: #242424;
    margin-bottom: 3px;
    font-size: 12px;
    padding: 10px;
    text-align: left;
}
.funnel-item-2 .funnel-item-content:before {
    display: none;
}
.funnel-item-0.active > .funnel-item-content:before,
.funnel-item-1.active > .funnel-item-content:before {
    transform: translate(0,-50%) rotate(180deg);
    transition: 0.2s;
}
.funnel-item-incoming,
.funnel-item-outgoing {
    position: absolute;
    width: 85px;
    height: 40px;
    background: url(/static/rg_instructor_analytics/images/Arrow.svg) no-repeat right center;
    background-size: auto 30px;
    padding-right: 40px;
    left: -10px;
    transform: translate(-100%,-50%);
    font-size: 16px;
    color: #505050;
    top: 50%;
    display: flex;
    align-items: center;
}
.funnel-item-incoming {
    justify-content: flex-end;
}
.funnel-item-outgoing {
    left: auto;
    right: -10px;
    background: url(/static/rg_instructor_analytics/images/Arrow.svg) no-repeat left center;
    padding: 0 0 0 40px;
    transform: translate(100%,-50%);
    background-size: auto 30px;
}
.funnel-item-1 .funnel-item-incoming,
.funnel-item-1 .funnel-item-outgoing {
    background-size: auto 18px;
    padding-right: 25px;
    color: #999999;
    font-size: 12px;
}
.funnel-item-1 .funnel-item-outgoing {
    padding: 0 0 0 24px;
}
.funnel-item-2 .funnel-item-incoming,
.funnel-item-2 .funnel-item-outgoing {
    background-size: auto 14px;
    padding-right: 20px;
    color: #999999;
    font-size: 12px;
}
.funnel-item-2 .funnel-item-outgoing {
    padding: 0 0 0 18px;
}
.idash-section .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.funnel-item-stuck {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translate(0,-50%);
}
.funnel-item-0 > .funnel-item-content > .funnel-item-stuck {
    position: static;
    transform: translate(0,0);
    top: auto;
    right: auto;
    margin-top: 12px;
    display: block;
    color: #fff;
}
.funnel-item-1 > .funnel-item-content > .funnel-item-stuck {
    color: #fff;
}
.funnel-item-2 > .funnel-item-content > .funnel-item-stuck {
    right: 10px;
    color: #fff;
}
.modal-for-plot {
    margin-top: 30px;
    position: static;
    width: 750px;
    height: auto;
}
.modal-for-plot .js-plotly-plot {
    width: 750px;
    transform: translate(0,0);
}
#proble-question-plot {
    margin: 0 !important;
}
.modal-for-plot .close {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}
.enrollment-legend-holder__square .enrollment-legend-item:before {
    content: '';
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    border: none;
}
.enrollment-legend-holder__square .enrollment-legend-item {
    font-weight: 600;
    font-size: 14px;
}
.enrollment-legend-holder__square .enrollment-legend-item:nth-child(1):before {
    background: #0075b4;
}
.enrollment-legend-holder__square .enrollment-legend-item:nth-child(2):before {
    background: #c14f84;
}
.instructor-dashboard-wrapper-2 .idash-section .wrapper-problem-response button {
    position: relative;
    padding-right: 20px;
}
.wrapper-problem-response button:before {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translate(0,-50%);
    transition: 0.3s;
}
.wrapper-problem-response button.active:before {
    transform: translate(0,-50%) rotate(180deg);
    transition: 0.3s;
}
.show.problem-action-btn.btn-default.btn-small {
    display: none;
}
.plot-row {
    display: flex;
    width: 750px;
    margin-bottom: 7px;
}
.plot-bar-holder {
    background: #999999;
    flex: 1;
    display: flex;
}
.plot-bar {
    background: #c14f84;
}
.plot-name {
    flex: 0 0 70px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
}
.plot-value {
    flex: 0 0 50px;
    text-align: center;
}

#problem-homeworks-stats-plot {
    height: 400px;
    position: relative;
    padding: 30px 50px;
    margin-bottom: 140px;
    text-align: center;
}
#problem-homeworks-stats-plot .plot-body {
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: linear-gradient(
        to bottom, 
        #eee, #eee 0.4%, 
        white 0.4%, white 50%, 
        #eee 50%, #eee 50.4%, 
        white 50.4%, white 99.6%,
        black 99.6%, black 100%
    );
}
.plot-bar-vert {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 3px;
    transition: 0.2s;
}
.plot-bar-vert:hover {
    min-width: 8% !important;
    transition: 0.2s;
    position: relative;
    height: 100% !important;
    z-index: 10;
}

.plot-bar-vert:hover:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: calc(100% + 90px);
    top: -5px;
    border: 1px solid #568ecc;
}
.plot-bar-vert:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100px;
    bottom: -130px;
}
.plot-bar-vert .plot-click-me,
.plot-bar-vertical .plot-click-me {
    display: none;
    border: 1px #568ecc solid;
    padding: 3px 5px;
    color: #568ecc;
    position: absolute;
    bottom: -130px;
    z-index: 2;
    min-width: 110px;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    left: 50%;
    transform: translate(-50%,0);
    align-items: center;
    justify-content: center;
}
.plot-bar-vert .plot-click-me:hover,
.plot-bar-vertical .plot-click-me:hover {
    color: #fff;
    background: #568ecc;
    cursor: pointer;
}
.plot-bar-vertical .plot-click-me {
    bottom: -80px;
}
.plot-bar-vert:hover .plot-click-me,
.plot-bar-vertical:hover .plot-click-me {
    display: flex;
}
.plot-bar-attempts {
    background: #0075b4;
    flex: 1 1 20px;
}
.plot-bar-percent {
    background: #c14f84;
    flex: 1 1 20px;
}
.plot-bar-value {
    color: #fff;
}
#problem-homeworks-stats-plot .x-axis li div {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 1.3;
}
.y-axis-l {
    position: absolute;
    top: 20px;
    left: 0;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.y-axis-r {
    position: absolute;
    top: 20px;
    right: 0;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.y-axis-l li:before {
    content: '';
    width: 100%;
    height: 1px;
    background: gainsboro;
}
.x-axis {
    display: flex;
    justify-content: space-between;
}
.y-axis-l li {
    text-align: right;
}
.plot-bar-vert>div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    margin: 0 1px;
    cursor: pointer;
}
.plot-bar-vert>div>span {
    transform: rotate(-90deg);
}
.correct-bar,
.incorrect-bar {
    background: #0075b4;
    transform: translate(0,-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.incorrect-bar {
    background: #c14f84;
    transform: translate(-100%,50%);
}
#problems-stats-plot {
    height: 400px;
    position: relative;
    padding: 30px 50px;
    margin-bottom: 100px;
    text-align: center;
}
#problems-stats-plot .plot-body {
    display: flex;
    height: 100%;
    justify-content: space-between;
    
    background: linear-gradient(
        to bottom, 
        #eee, #eee 0.4%, 
        white 0.4%, white 25%,
        #eee 25%, #eee 25.4%,
        white 25.4%, white 50%,
        black 50%, black 50.4%, 
        white 50.4%, white 75%,
        #eee 75%, #eee 75.4%,
        white 75.4%, white 99.6%,
        #eee 99.6%, #eee 100%
    );
}

#problems-stats-plot li>div {
    flex: 0 0 100%;
}

#problems-stats-plot .plot-bar-vertical {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3px;
}
#problems-stats-plot .plot-bar-vertical:hover:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: calc(100% + 50px);
    top: -5px;
    border: 1px solid #568ecc;
    left: -1px;
}
#problems-stats-plot .plot-bar-vertical:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100px;
    bottom: -90px;
}
.xtick {
    margin-top: 20px;
}

#problems-stats-plot .y-axis-l {
    flex-direction: column;
}
#problems-stats-plot .plot-bar-vertical span {
    display: none;
    color: #fff;
}
#problems-stats-plot .plot-bar-vertical:hover span {
    display: block;
}

#gradebook_table_header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.x-axis li {
    display: flex;
    justify-content: center;
}
.plot-bar-value {
    display: none;
}
.plot-bar-vert:hover .plot-bar-value {
    display: flex;
}
.x-axis li.small {
    display: block;
}
.small > div {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 1.3;
    transform: rotate(90deg);
    white-space: nowrap;
    width: 90px;
    transform-origin: 13% 0;
}
.hover {
    min-width: 8% !important;
    margin-right: 8px;
    transition: 0.2s;
}
.hover > div {
    text-align: center !important;
    transition: 0.2s;
}
.hover > div {
    transform: rotate(0deg);
    width: auto;
    transform-origin: initial;
    white-space: pre-wrap;
}
.idash-section.active-section .disc-list {
    list-style: disc;
    padding-left: 40px;
}
.disc-list li {
    display: list-item;
}
#email-subject {
    width: 50%;
    margin-right: 15px;
}
#section-cohort .js-plotly-plot {
    transform: translate(-7%, 0);
}
